<h1> My Bookings </h1>


<p> Usted tiene agendados en las siguientes fechas:</p>
<br>
<% @bookings.each do |booking| %>
<ul>

<%# #Como agregar datos de car? %>
<%= booking.car.modelo %>
<li><%=booking.fecha_inicio%></li>
</ul>
<% end %>
<%= link_to "Volver al menu principal", new_car_path %>