

<div class="d-flex">
  <div class="card" style="width: 18rem;">
    <%# <% @cars.each do |car| %> %>
    <img src="https://images.unsplash.com/photo-1646161535915-4b9701625ba5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">modelo</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><i class="fa-solid fa-location-dot"></i> Valdivia, Chile</li>
      <li class="list-group-item">
      <i class="fa-solid fa-users"></i>
      4 passengers</li>
      <li class="list-group-item price"><strong>$400</strong></li>
    </ul>
    <%# <% end %>
    <div class="card-body">
      <a href="#" class="card-link btn btn-success">Book this car</a>
      <a href="#" class="card- btn btn-outline-success btn-sm">View details</a>
    </div>
  </div>
</div>
